body {
    font-family: 'Roboto';
}

.skill-container{
    margin-bottom:5px;
}

.main-content-page{
    display:none;
}

.main-content-page.active {
    display: block;
}

.main-content-container{
    height:100vh;
}