body {
    font-family: 'Roboto';
}

.skill-container{
    margin-bottom:5px;
}

.main-content-page{
    display:none;
}

.main-content-page.active {
    display: block;
}

.main-content-container {
    height: 100%;
    margin-top: 58px;
}

#navbarMain > .navbar-nav > .nav-item.active {
    font-weight: bold;
}
#navbarMain > .navbar-nav > .nav-item {
    cursor:pointer;
}

.navbar-custom {
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    background-color: #374457;
}
    .navbar-custom .nav-link {
        color: white !important;
    }
    .navbar-custom .nav-link:hover {
        color: white !important;
    }
        .navbar-custom .nav-link.active {
            color: whitesmoke!important;
        }


.main-hexagon {
    display: flex;
    --s: 100px;
    --m: 4px;
    --f: calc(var(--s) * 1.732 + 4 * var(--m) - 1px);
}

.container-hexagon {
    font-size: 0;
}

    .container-hexagon .hexagon {
        width: var(--s);
        margin: var(--m);
        height: calc(var(--s) * 1.1547);
        display: inline-block;
        font-size: initial;
        clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
        margin-bottom: calc(var(--m) - var(--s) * 0.2885);
    }

    .container-hexagon::before {
        content: "";
        width: calc(var(--s) / 2 + var(--m));
        float: left;
        height: 120%;
        shape-outside: repeating-linear-gradient(#0000 0 calc(var(--f) - 3px), #000 0 var(--f));
    }